%h1= @page_title = "Advertising on Opening Times"

%p
  <a href="https://www.google.com/adplanner/site_profile?s=opening-times.co.uk&b=1" style="float: right; margin-left: 4px; background: #fff"><img src="http://www.gstatic.com/ads/branding/adplanner/adp180_60.gif" border=none width=180 height=60 title="Find my site on Google Ad Planner"></a>
  Opening Times is a great website to advertise on. We have thousands of visitors every day and are especially busy on bank holidays and Sundays.

%p
  = link_to('Find out more information about advertising on Opening Times with Google Adsense', 'https://www.google.com/adplanner/site_profile?s=opening-times.co.uk&b=1') +'.'

%p
  Please email julian [at] opening-times.co.uk if you want to run a special campaign.

